<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.5" targetFramework="net40" />
  <package id="MySql.Data.Entity" version="6.9.5" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
</packages>